<div>
  <% f.label(:name) %><br>
  <% f.text_field(:name) %>
</div>
<div>
  <% f.label(:address) %><br>
  <% f.text_area(:address) %>
</div>
<div>
  <% f.label(:principal) %><br>
  <% f.text_field(:principal) %>
</div>
<div>
  <% f.label(:capacity) %><br>
  <% f.number_field(:capacity) %>
</div>
<div>
  <% f.label(:private_school) %>
  <% f.check_box(:private_school) %>
</div>
