<h1>Schools</h1>
<%= link_to("Add School", new_school_path) %>

<ul>
<% @schools.each do |school| %>
  <li>
    <%= schoo.name %>
    - <%= link_to("edit", edit_school_path(school)) %>
      <%= link_to("delete", school_path(school), method: :delete, data: {confirm: "Delete?"}) %>
  </li>
<% end %>
</ul>
